* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: blue;
    background: linear-gradient(
        90deg,
        rgba(85, 144, 189, 1) 0%,
        rgba(108, 183, 240, 1) 54%,
        rgba(182, 216, 242, 1) 82%
      );
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-family: "Oswald", san;
}
  h1{
    color:white
  }

.pokemon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pokemon-block,
.pokemon.block-back{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.img-container{
    background-image: url("./blob.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-block p{
    margin: 5px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}

#spinner{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /* check code later */
}

.pagination{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
}

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

.normal{
    background-color: var(--type-normal);
    color: var(--type-normal);

}

.fire{
    background-color: clr var(--type-fire);
    color: var(--clr-black);
}
.water{
    background-color: var(--type-water);
    color: var(--clr-black);
}
.grass{
    background-color: var(--type-grass);
    background-color: var(--clr-black);
}
.electric{
    background-color: var(--type-electric);
    background-color: var(--clr-black);
}
.ice{
    background-color: var(--type-ice);
    background-color: var(--clr-black);
}
.fighting{
    background-color: var(--type-fighting);
    background-color: var(--clr-black);
}
.poison{
    background-color: var(--type-poison);
    background-color: var(--clr-black);
}
.ground{
    background-color: var(--type-ground);
    background-color: var(--clr-black);
}
.flying{
    background-color: var(--type-flying);
    background-color: var(--clr-black);
}
.psychic{
    background-color: var(--type-psychic);
    background-color: var(--clr-black);
}
.bug{
    background-color: var(--type-bug);
    background-color: var(--clr-black);
}
.rock{
    background-color: var(--type-rock);
    background-color: var(--clr-black);
}
.ghost{
    background-color: var(--type-ghost);
    background-color: var(--clr-black);
}
.dark{
    background-color: var(--type-dark);
    background-color: var(--clr-black);
}
.dragon{
    background-color: var(--type-dragon);
    background-color: var(--clr-black);
}
.steel{
    background-color: var(--type-steel);
    background-color: var(--clr-black);
}
.fairy{
    background-color: var(--type-fairy);
    background-color: var(--clr-black);
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

